Repository BaboucheOne/BuggyBot, pull requests merged in 2024-05, with the labels that each got.

#1 Inital setup for tools
  .github/workflows/PythonFormatter.yml
  .gitignore
  README.md
  requirements.txt
  tools/constants.py
  tools/update_students_list.py
Labels: documentation

#2 Fix dotenv path and requirements
  requirements.txt
  tools/constants.py
  tools/update_students_list.py
Labels: bug, enhancement, tools

#3 add register cog
  README.md
  bot/cog/registration/register_member.py
  main.py
  requirements.txt
Labels: bot, feature

#10 Resolved B-IIG issue
  tools/constants.py
  tools/update_students_list.py
Labels: tools, fix

#11 Add student model
  bot/domain/student/__init__.py
  bot/domain/student/student.py
  requirements.txt
Labels: feature

#14 Add student repository
  bot/__init__.py
  bot/domain/student/attributs/discord_user_id.py
  bot/domain/student/attributs/firstname.py
  bot/domain/student/attributs/lastname.py
  bot/domain/student/attributs/new_admitted.py
  bot/domain/student/attributs/ni.py
  bot/domain/student/attributs/program_code.py
  bot/domain/student/student.py
  bot/domain/student/student_repository.py
  bot/infra/__init__.py
  bot/infra/constants.py
  bot/infra/student/__init__.py
  bot/infra/student/assembler/student_assembler.py
  bot/infra/student/exception/student_not_found_exception.py
  bot/infra/student/mongodb_student_repository.py
  main.py
  tools/constants.py
  tools/update_students_list.py
Labels: tools, refactor, bot, feature

#23 Add role when student is registered
  README.md
  bot/application/discord/discord_service.py
  bot/application/discord/events/student_registered/student_registered_observable.py
  bot/application/discord/events/student_registered/student_registered_observer.py
  bot/application/discord/exception/role_not_found_exception.py
  bot/application/student/student_service.py
  bot/domain/constants.py
  bot/domain/discord_client/__init__.py
  bot/domain/discord_client/discord_client.py
  main.py
Labels: bot, feature

#28 Add cache repository
  bot/infra/cache/cache_item.py
  bot/infra/cache/cache_repository.py
  bot/infra/student/cached_student_repository.py
  main.py
Labels: enhancement, bot

#29 Issue assign name
  bot/application/discord/discord_service.py
Labels: enhancement, bot, feature

#12 Issue Context manager
  .gitignore
  README.md
  bot/cog/registration/register_member.py
  bot/config/application_context.py
  bot/config/constants.py
  bot/config/development_context.py
  bot/config/dotenv_configuration.py
  bot/config/production_context.py
  bot/config/service_locator.py
  main.py
  tools/constants.py
  tools/update_students_list.py
Labels: help wanted, bot, feature

#32 Add student manually
  bot/application/student/exceptions/missing_program_code_exception.py
  bot/application/student/exceptions/student_already_exist.py
  bot/application/student/student_service.py
  bot/application/student/validators/program_code_validator.py
  bot/cog/constants.py
  bot/cog/exceptions/missing_arguments_exception.py
  bot/cog/registration/add_student_request_factory.py
  bot/cog/registration/register_member.py
  bot/cog/request/add_student_request.py
  bot/cog/request/register_student_request.py
  bot/config/application_context.py
  bot/config/development_context.py
  bot/config/production_context.py
  bot/domain/student/student_factory.py
  bot/domain/student/student_repository.py
  bot/domain/utility.py
  bot/infra/student/cached_student_repository.py
  bot/infra/student/mongodb_student_repository.py
Labels: refactor, bot, feature

#41 Added migration
  README.md
  bot/infra/student/assembler/student_assembler.py
  tools/migrate_discord_students.py
  tools/update_students_list.py
Labels: tools, feature

#43 Add restriction to command by role
  bot/cog/decorators/role_check.py
  bot/cog/registration/register_member.py
  bot/domain/constants.py
Labels: bot, feature

#44 Add membre honorifique
  bot/application/student/validators/program_code_validator.py
  bot/cog/registration/register_member.py
  bot/domain/constants.py
  bot/domain/student/student_factory.py
Labels: bot, feature

#45 fix owner role when applying nickname
  bot/application/discord/discord_service.py
Labels: fix
