Repository BaboucheOne/BuggyBot, pull requests merged in 2024-07, with the labels that each got.

#87 Fix remove print
  bot/application/task/sentence_of_the_day_task.py
Labels: bot, fix

#88 Fixed imports for python 3.12 by making tools a package with entry point __main__ and doing dirty path modifications
  README.md
  bot/resource/cog/registration/register_member.py
  bot/resource/constants.py
  tools/__main__.py
  tools/migrate_discord_students.py
  tools/update_students_list.py
Labels: enhancement, tools

#90 Rework readme
  README.md
  tools/__main__.py
Labels: enhancement

#94 Fix docker env & rename files
  .github/workflows/build-deploy-docker-image.yml
  .github/workflows/docker-build.yml
  .github/workflows/python-formatter.yml
  README.md
Labels: fix

#96 Fix grammar error on docker-compose.yml
  docker-compose.yml
Labels: bug

#91 Translate logger to french
  .github/workflows/build-deploy-docker-image.yml
  .github/workflows/python-formatter.yml
  README.md
  bot/application/student/student_service.py
  bot/application/task/kick_unregistered_user_task.py
  bot/application/task/sentence_of_the_day_task.py
  bot/domain/discord_client/discord_client.py
  bot/infra/student/cached_student_repository.py
  docker-compose.yml
  main.py
  tools/__main__.py
  tools/migrate_discord_students.py
  tools/update_students_list.py
Labels: enhancement, tools, bot

#97 Create docker directory
  .github/workflows/build-deploy-docker-image.yml
  .github/workflows/docker-build.yml
  README.md
  docker/.dockerignore
  docker/docker-compose.yml
  docker/dockerfile
  docker/script/updater.sh
Labels: enhancement

#100 Persist log with docker
  README.md
  bot/config/logger/logger.py
  docker/docker-compose.yml
Labels: enhancement, bot

#101 Add more logs
  bot/application/discord/discord_service.py
  bot/application/student/student_service.py
  bot/infra/student/mongodb_student_repository.py
Labels: bot

#105 Fix AddStudent already exist
  bot/application/student/student_service.py
Labels: bot, fix

#108 Fix composed name for add_student command
  bot/resource/cog/registration/factory/add_student_request_factory.py
  bot/resource/cog/registration/factory/request_factory.py
  bot/resource/cog/registration/register_member.py
Labels: bot, fix

#109 Rename workflow for a suitable name
  .github/workflows/build-push-docker-image.yml
  README.md
Labels: enhancement

#112 Add find operation in cache
  bot/infra/cache/cache_repository.py
  bot/infra/cache/exception/cache_find_operation_not_found_exception.py
  bot/infra/cache/exception/cache_item_not_found_exception.py
  bot/infra/student/cached_student_repository.py
Labels: enhancement, bot

#113 Implement deep copy return for cache
  bot/infra/cache/cache_repository.py
Labels: enhancement, bot

#116 Refactor decorators & attributs
  bot/application/task/sentence_of_the_day_task.py
  bot/domain/student/attribut/ni.py
  bot/domain/student/student.py
  bot/resource/decorator/prohibit_self_message.py
  bot/resource/decorator/role_check.py
Labels: refactor, bot

#118 Add exception mapper
  bot/application/student/exceptions/invalid_format_exception.py
  bot/application/student/exceptions/invalid_ni_format_exception.py
  bot/config/environment/context/application_context.py
  bot/config/environment/context/development_context.py
  bot/config/environment/context/docker_context.py
  bot/config/environment/context/production_context.py
  bot/config/exception/__init__.py
  bot/config/exception/exception_mapper.py
  bot/config/exception/mapper_not_found_exception.py
  bot/config/service_locator.py
  bot/resource/cog/association/association.py
  bot/resource/cog/error_handler/__init__.py
  bot/resource/cog/error_handler/error_handler.py
  bot/resource/cog/registration/register_member.py
  bot/resource/constants.py
  bot/resource/exception/__init__.py
Labels: enhancement, refactor, bot

#120 Add name validator
  bot/application/student/exceptions/invalid_name_format_exception.py
  bot/application/student/student_service.py
  bot/application/student/validators/name_validator.py
Labels: bot, feature
