Repository BaboucheOne/BuggyBot, pull requests merged in 2024-08, with the labels that each got.

#123 Fix registration bug by casting the correct message
  bot/application/student/student_service.py
  bot/config/environment/context/application_context.py
  bot/infra/cache/cache_repository.py
  bot/resource/constants.py
Labels: bug, bot

#124 Modify ASETIN and AEGLO information
  bot/resource/cog/association/embed/aeglo_embed.py
  bot/resource/cog/association/embed/asetin_embed.py
Labels: enhancement, bot

#127 Add renew command
  bot/application/task/kick_unregistered_user_task.py
  bot/resource/cog/association/embed/asetin_embed.py
  tools/__main__.py
  tools/configuration_common.py
  tools/migrate_discord_students.py
  tools/renew_students_list.py
  tools/update_students_list.py
Labels: refactor

#130 Remove new key
  bot/application/student/student_service.py
  bot/domain/student/attribut/new_admitted.py
  bot/domain/student/factory/student_factory.py
  bot/domain/student/student.py
  bot/infra/student/assembler/student_assembler.py
  bot/resource/cog/registration/factory/add_student_request_factory.py
  bot/resource/cog/registration/register_member.py
  bot/resource/cog/registration/request/add_student_request.py
  tools/constants.py
  tools/migrate_discord_students.py
  tools/update_students_list.py
Labels: tools, refactor, bot

#131 Update kick_unregistered_user_task.py
  bot/application/task/kick_unregistered_user_task.py
Labels: enhancement, bot

#139 Remove multitasking
  bot/application/discord/discord_service.py
  bot/application/discord/event/member_removed/member_removed_observable.py
  bot/application/discord/event/member_removed/member_removed_observer.py
  bot/application/discord/event/student_registered/student_registered_observable.py
  bot/application/discord/event/student_registered/student_registered_observer.py
  bot/application/student/student_service.py
  bot/resource/cog/registration/register_member.py
Labels: bug, refactor, bot

#140 Fix unknow command & private message response
  bot/resource/cog/error_handler/error_handler.py
Labels: bug, refactor, bot, fix

#142 Remove nickname when unregister
  bot/application/discord/discord_service.py
Labels: refactor, bot, fix

#143 Block registration if not in server
  bot/config/environment/context/application_context.py
  bot/resource/cog/registration/register_member.py
  bot/resource/constants.py
  bot/resource/decorator/user_in_server.py
  bot/resource/exception/user_not_in_server_exception.py
Labels: bot, fix

#145 Add log directory into docker
  docker/.dockerignore
  docker/dockerfile
Labels: fix

#146 Fix relative path in docker compose
  docker/docker-compose.yml
Labels: fix

#144 Add force register command
  bot/application/student/exceptions/invalid_discord_id_format_exception.py
  bot/application/student/student_service.py
  bot/application/student/validators/discord_id_validator.py
  bot/domain/utility.py
  bot/resource/cog/registration/factory/force_register_student_request_factory.py
  bot/resource/cog/registration/register_member.py
  bot/resource/cog/registration/request/force_register_student_request.py
  bot/resource/constants.py
Labels: refactor, bot, feature

#148 Self unregister and admin force_unregister
  bot/application/student/student_service.py
  bot/infra/student/cached_student_repository.py
  bot/resource/cog/registration/factory/force_unregister_student_request_factory.py
  bot/resource/cog/registration/register_member.py
  bot/resource/cog/registration/request/force_unregister_student_request.py
  bot/resource/cog/registration/request/unregister_student_request.py
  bot/resource/constants.py
Labels: bot, feature

#149 Only allow self register when user is in server
  bot/resource/cog/registration/register_member.py
Labels: bot, fix

#150 fix self register
  bot/resource/cog/registration/register_member.py
  docker/script/updater.sh
Labels: fix

#151 Reset student name & check file existance
  tools/renew_students_list.py
Labels: tools, fix

#154 Update with accents chars
  bot/application/student/validators/name_validator.py
  tools/renew_students_list.py
Labels: bot, fix

#152 Send message name too long
  bot/application/discord/discord_service.py
Labels: bot, feature

#155 fix send message name too long
  bot/application/discord/discord_service.py
  bot/resource/constants.py
Labels: fix

#157 Check for new update on updater.sh
  docker/script/updater.sh
Labels: enhancement

#160 Add give_integration_role
  bot/application/discord/discord_service.py
  tools/__main__.py
  tools/give_integration_role.py
  tools/renew_students_list.py
Labels: tools, feature

#161 Add try & except for nickname changed
  bot/application/discord/discord_service.py
Labels: bot, fix

#163 Support both Google Form & Evelya for integration tool command
  tools/give_integration_role.py
Labels: enhancement, tools

#164 From 1 week to 2 weeks for kick member
  bot/application/task/kick_unregistered_user_task.py
Labels: bot, fix
