Repository BaboucheOne/BuggyBot, pull requests merged in 2024-06, with the labels that each got.

#48 Unregister user
  bot/application/discord/discord_service.py
  bot/application/discord/events/student_registered/student_registered_observable.py
  bot/application/discord/events/student_registered/student_registered_observer.py
  bot/application/student/student_service.py
  bot/cog/constants.py
  bot/cog/registration/factory/unregister_student_request_factory.py
  bot/cog/registration/register_member.py
  bot/cog/request/unregister_student_request.py
  bot/domain/student/attributs/discord_user_id.py
  bot/domain/student/student_repository.py
  bot/infra/student/cached_student_repository.py
  bot/infra/student/mongodb_student_repository.py
Labels: enhancement, bot, feature

#52 Help command & Association cog
  bot/cog/association/__init__.py
  bot/cog/association/association.py
  bot/cog/constants.py
  bot/cog/registration/register_member.py
  bot/config/application_context.py
  bot/config/development_context.py
  bot/config/production_context.py
Labels: documentation, enhancement, bot

#56 Add association embed
  bot/cog/association/association.py
  bot/cog/association/embed/aeglo_embed.py
  bot/cog/association/embed/asetin_embed.py
Labels: documentation, enhancement, bot

#59 Add configurations for tools
  tools/configuration_common.py
  tools/constants.py
  tools/migrate_discord_students.py
  tools/update_students_list.py
Labels: enhancement, tools

#61 Add double verification when registered
  bot/application/student/student_service.py
  bot/domain/student/student_repository.py
  bot/infra/student/cached_student_repository.py
  bot/infra/student/mongodb_student_repository.py
Labels: bot, feature

#63 Add missing translation
  bot/cog/constants.py
  bot/cog/registration/register_member.py
Labels: bot, fix

#55 Logging
  README.md
  bot/application/student/student_service.py
  bot/cog/association/association.py
  bot/cog/registration/register_member.py
  bot/config/__init__.py
  bot/config/application_context.py
  bot/config/constants.py
  bot/config/development_context.py
  bot/config/dotenv_configuration.py
  bot/config/logger/__init__.py
  bot/config/logger/log.py
  bot/config/logger/logger.py
  bot/config/production_context.py
  bot/config/service_locator.py
  bot/domain/discord_client/discord_client.py
  bot/domain/student/attribut/discord_user_id.py
  bot/domain/student/attribut/firstname.py
  bot/domain/student/attribut/lastname.py
  bot/domain/student/attribut/new_admitted.py
  bot/domain/student/attribut/ni.py
  bot/domain/student/attribut/program_code.py
  bot/domain/student/student.py
  bot/infra/student/cached_student_repository.py
  main.py
  tools/configuration_common.py
  tools/migrate_discord_students.py
  tools/update_students_list.py
Labels: enhancement, bot, feature

#64 Moving files
  bot/application/discord/discord_service.py
  bot/application/student/student_service.py
  bot/config/context/__init__.py
  bot/config/context/application_context.py
  bot/config/context/development_context.py
  bot/config/context/dotenv_configuration.py
  bot/config/context/production_context.py
  bot/config/service_locator.py
  bot/domain/utility.py
  bot/infra/cache/cache_repository.py
  bot/infra/student/cached_student_repository.py
  bot/resource/__init__.py
  bot/resource/chain_of_responsibility/__init__.py
  bot/resource/chain_of_responsibility/handlers/__init__.py
  bot/resource/chain_of_responsibility/handlers/keep_digits_handler.py
  bot/resource/chain_of_responsibility/handlers/strip_handler.py
  bot/resource/chain_of_responsibility/responsibility.py
  bot/resource/chain_of_responsibility/responsibility_builder.py
  bot/resource/chain_of_responsibility/responsibility_handler.py
  bot/resource/cog/__init__.py
  bot/resource/cog/association/__init__.py
  bot/resource/cog/association/association.py
  bot/resource/cog/association/embed/__init__.py
  bot/resource/cog/association/embed/aeglo_embed.py
  bot/resource/cog/association/embed/asetin_embed.py
  bot/resource/cog/registration/__init__.py
  bot/resource/cog/registration/factory/__init__.py
  bot/resource/cog/registration/factory/add_student_request_factory.py
  bot/resource/cog/registration/factory/register_student_request_factory.py
  bot/resource/cog/registration/factory/request_factory.py
  bot/resource/cog/registration/factory/unregister_student_request_factory.py
  bot/resource/cog/registration/register_member.py
  bot/resource/cog/registration/request/__init__.py
  bot/resource/cog/registration/request/add_student_request.py
  bot/resource/cog/registration/request/register_student_request.py
  bot/resource/cog/registration/request/unregister_student_request.py
  bot/resource/constants.py
  bot/resource/decorator/role_check.py
  bot/resource/exception/missing_arguments_exception.py
  main.py
  tools/configuration_common.py
  tools/migrate_discord_students.py
  tools/update_students_list.py
Labels: refactor, bot, fix

#67 Add docker configuration
  .dockerignore
  README.md
  dockerfile
Labels: documentation, bot, feature

#68 Add verification pymongo connection
  README.md
  bot/config/constants.py
  bot/config/context/application_context.py
  bot/config/context/development_context.py
  bot/config/context/dotenv_configuration.py
  bot/config/context/production_context.py
  main.py
Labels: enhancement, bot

#71 Updated to 3.10
  .dockerignore
  README.md
  dockerfile
  requirements.txt
Labels: enhancement, bot

#74 Add log to joined member
  .github/workflows/PythonFormatter.yml
  README.md
  bot/resource/cog/registration/register_member.py
  dev-requirements.txt
  main.py
Labels: enhancement, bot

#75 Fix migration tool
  tools/configuration_common.py
  tools/migrate_discord_students.py
Labels: tools, fix

#82 Some grammar fix and better python 3.10 typing
  README.md
  bot/application/student/exceptions/student_already_registered_exception.py
  bot/application/student/student_service.py
  bot/config/service_locator.py
  bot/resource/chain_of_responsibility/responsibility_builder.py
  bot/resource/chain_of_responsibility/responsibility_handler.py
  bot/resource/cog/registration/factory/request_factory.py
  bot/resource/constants.py
  main.py
  tools/migrate_discord_students.py
Labels: tools, bot

#79 Add task scheduler
  bot/application/task/kick_unregistered_user_task.py
  bot/config/context/application_context.py
  bot/config/context/development_context.py
  bot/config/context/production_context.py
  bot/domain/task/__init__.py
  bot/domain/task/task.py
  bot/domain/task/task_scheduler.py
  requirements.txt
Labels: bot, feature

#80 Add event on member removed
  bot/application/discord/discord_service.py
  bot/application/discord/event/member_removed/member_removed_observable.py
  bot/application/discord/event/member_removed/member_removed_observer.py
  bot/application/discord/event/student_registered/student_registered_observer.py
  bot/application/student/student_service.py
  bot/config/service_locator.py
  bot/domain/student/student_repository.py
  bot/infra/student/cached_student_repository.py
  bot/infra/student/mongodb_student_repository.py
  bot/resource/cog/registration/register_member.py
  tools/migrate_discord_students.py
Labels: bot, feature

#84 Fix readme to interact with tools
  README.md
  bot/application/discord/event/member_removed/member_removed_observer.py
  tools/migrate_discord_students.py
  tools/update_students_list.py
Labels: bug, tools

#86 Add sentence of the day
  bot/application/task/kick_unregistered_user_task.py
  bot/application/task/sentence_of_the_day_task.py
  bot/config/context/development_context.py
  bot/config/context/production_context.py
  requirements.txt
Labels: bot, feature
